.main-content__background__map,
.main-content__sections__section__map {
    width: 55%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.main-content__background__map object,
.main-content__sections__section__map object {
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.main-content__background__map object {
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
        -ms-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
}


.main-content__sections__section__map__text {
    position: absolute;
    z-index: 10;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
}
