.main-content h1 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #fff;
    font-weight: 400;

    position: relative;
    top: 50%;
    left: 0;
    margin: 0;

    -webkit-transform: translate(0, -50%);
       -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
         -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

.main-content__sections__section__text--cover {
    background-color: #c42121;
}

.main-content__sections__section__text {
    width: 45%;
    height: 100%;
    padding: 32px;

    box-sizing: border-box;

    border-right: 2px solid #dedede;
}

.main-content__sections__section__text h2 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 200;
    color: #c42121;
    text-transform: uppercase;
}

.main-content__sections__section__text p {
    font-family: 'Arvo', serif;
    font-weight: 400;
}
