@font-face {
    font-family: 'libetypewriter';
    src: url('libetypewriter-regular.otf') format('woff');

    font-style: normal;
    font-weight: 400;
}

.main-content h1 {
    text-align: center;
    font-family: 'libesansweb-semicondensed', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 6em;
    letter-spacing: 0.05em;
}

.main-content__sections__section__text--cover {
    background-color: #e61e49;
    position: relative;
}

.main-content__sections__section__text--cover p {
    max-width: 750px;
    margin: auto;

    color: #fff;
}

.main-content__sections__section__text--cover p .begin {
    padding: .5em 1em;

    border-radius: 1em;

    background-color: #ffffff;

    color: #e61e49;

    cursor: pointer;
}

.main-content__sections__section__text {
    width: 45%;
    height: 100%;
    padding-bottom: 32px;
    overflow: hidden;

    box-sizing: border-box;
}

.main-content__sections__section__text h2 {
    padding: 32px 32px 0 32px;

    font-family: 'libesansweb-semicondensed', sans-serif;
    color: #3c3c3b;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 0.05em;

    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.main-content__sections__section__text p {
    font-family: 'syntheselibeweb', sans-serif;
    font-weight: 400;
    padding: 0 32px;

    max-width: 650px;
    margin: 0 auto;
}

.main-content__sections__section__text p span {
    float: right;
    width: 200px;
    padding: 25px 0 25px 25px;
    font-size: 1.5em;
    font-family: 'libetypewriter', serif;
    position: relative;
    top: 0;
    left: 0;
    color: #e61e49;
}

.main-content__sections__section__text p span .main-content__sections__section__text__hl__twitter {
    bottom: 0;
    right: 0;
    color: inherit;
}

.main-content__sections__section__text__hl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
    position: relative;
    top: 0;
    left: 0;

    height: calc((100% - 65px) / 2);
}

.main-content__sections__section__text__hl p {
    max-width: 650px;
    margin: 0 auto;

    text-align: center;
}

.main-content__sections__section__text__hl__large {
    text-align: center;
    font-family: 'libesansweb-condensed', sans-serif;
    font-size: 8em;
    letter-spacing: 0.005em;
}

.main-content__sections__section__text__hl:first-of-type {
    background-color: #e61e49;
    color: #ffffff;

    margin-top: 16px;
}

.main-content__sections__section__text__hl:last-of-type {
    background-color:#fad2db;
    color: #e61e49;
}

.mobile-blue .main-content__sections__section__text__hl:first-of-type {
    background-color: #0aa9af;
    color: #ffffff;
}

.mobile-blue  .main-content__sections__section__text__hl:last-of-type {
    background-color:#e5f6f7;
    color: #0aa9af;
}

.main-content__sections__section__text__hl__twitter {
    position: absolute;
    bottom: 25px;
}

.main-content__sections__section__text__hl:first-of-type .main-content__sections__section__text__hl__twitter {
    right: 25px;
    color: #e61e49;
}

.main-content__sections__section__text__hl:last-of-type .main-content__sections__section__text__hl__twitter {
    left: 25px;
    color: #0aa9af;
}
